{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Тести з української мови</title>
<link rel='stylesheet' href='{% static "css/tPageStyle.css" %}'
</head>
<body>
  <div class='nav'>
    <img src='{% static "img/books-stack-of-three.png" %}' />
    <ul>
      <li><a href='#'>Результати</a></li>
      <li><a href='#'>Головна</a></li>
    </ul>
  </div>

  <div class='test-menu'>
    <div id='question'>
      <h2>Питання номер % number %</h2>
      <hr />
      <div class='exercise'>
        <p>
          "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
        </p>
      </div>
      <div class='input-block'>
        <input type='radio' name='answer' value='1' id='answer1'/><label for='answer1'>answer1</label>
      </div>
      <div class='input-block'>
        <input type='radio' name='answer' value='2' id='answer2'/><label for='answer2'>answer2</label>
      </div>
      <div class='input-block'>
        <input type='radio' name='answer' value='3' id='answer3'/><label for='answer3'>answer3</label>
      </div>
      <div class='input-block'>
      <input type='radio' name='answer' value='4' id='answer4'/><label for='answer4'>answer4</label>
      </div>
      <button class='btn list-btn'>До списку питань</button>
      <button class='btn answ-btn'>Відповісти</button>
      <button class='btn pass-btn'>Пропустити</button>
    </div>
    <div id='question-list' style='display: none'>
      <button class='btn list-btn'>До списку питань</button>
    </div>
  </div>

  <div class='info'>
    Тести та сайт зроблено:<br />
    Кравчук Олександр ІС-62<br />
    Блануца Дмитро ІП-61<br />
  </div>
  <script src='{% static "js/testJs.js"%}'></script>
</body>

</html>
