{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Тести з української мови</title>
<link rel='stylesheet' href='{% static "css/tPageStyle.css" %}'>
</head>
<body>
  <div class='nav'>
    <img src='{% static "img/books-stack-of-three.png" %}' />
    <ul>
      <li><a href='#'>Результати</a></li>
      <li><a href='#'>Головна</a></li>
    </ul>
  </div>



  <div class='info'>
    Тести та сайт зроблено:<br />
    Кравчук Олександр ІС-62<br />
    Блануца Дмитро ІП-61<br />
  </div>
  <script src='{% static "js/testJs.js"%}'></script>
</body>

</html>
